@model IEnumerable<Demo.AspNetCore.Htmx.Models.Manufacturer>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p hx-boost="true" hx-push-url="false" hx-target="#mainId" hx-indicator="this">
    <a asp-action="Create">Create New</a>
    <partial name="_indicator" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string id = "id-manufacturer-" + item.ManufacturerId;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td hx-boost="true" hx-push-url="false" hx-target="#mainId" hx-indicator="#@id">
                    <partial name="_indicatorId" model="@id" />
                    <a asp-action="Edit" asp-route-id="@item.ManufacturerId">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ManufacturerId">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ManufacturerId">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
