@model IEnumerable<Demo.AspNetCore.Htmx.Models.Manufacturer>
@{
    if (!string.IsNullOrEmpty(ViewData["TitlePartial"]?.ToString()))
    {
        <title>@ViewData["TitlePartial"] - Demo.AspNetCore.Htmx</title>
    }
}
<h4>Manufacturer</h4>

<p hx-boost="true" hx-push-url="false" hx-target="#mainId" hx-indicator="this">
    <a asp-action="Create" data-loading-class="disabled">Create New</a>
    <partial name="_indicator" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ManufacturerName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string id = "id-manufacturer-" + item.ManufacturerId;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturerName)
                </td>
                <td hx-boost="true" hx-push-url="false" hx-target="#mainId" hx-indicator="#@id">
                    <partial name="_indicatorId" model="@id" />
                    <a asp-action="Edit" asp-route-id="@item.ManufacturerId" data-loading-class="disabled">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ManufacturerId" data-loading-class="disabled">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ManufacturerId" data-loading-class="disabled">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
