@model Demo.AspNetCore.Htmx.Models.Model

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Model</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModelName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModelName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Power_KW)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Power_KW)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Capacity)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Capacity)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Manufacturer)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Manufacturer.ManufacturerName)
        </dd>
    </dl>
    <form asp-antiforgery="true" hx-target="#mainId" hx-indicator="this">
        <button type="button" class="btn btn-outline-secondary" hx-get="/Model/Index" data-loading-disable>
            Back to List
        </button>
        <button class="btn btn-danger" hx-post="/Model/Delete/@Model.ModelId" data-loading-disable>
            Delete
        </button>
        <partial name="_indicator" />
    </form>
</div>
