@model IEnumerable<Demo.AspNetCore.Htmx.Models.Model>

<h4>Models</h4>

<p hx-boost="true" hx-push-url="false" hx-target="#mainId" hx-indicator="this">
    <a asp-action="Create" data-loading-class="disabled">Create New</a>
    <partial name="_indicator" />
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Manufacturer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModelName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Power_KW)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string id = "id-model-" + item.ModelId;
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Manufacturer.ManufacturerName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModelName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category.CategoryName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Power_KW)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td hx-boost="true" hx-push-url="false" hx-target="#mainId" hx-indicator="#@id">
                    <partial name="_indicatorId" model="@id" />
                    <a asp-action="Edit" asp-route-id="@item.ModelId" data-loading-class="disabled">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ModelId" data-loading-class="disabled">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ModelId" data-loading-class="disabled">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
